*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}
header {
    background-color: #06d4f8;

}


h1 {
    color: white;
    font-size: 50px;
    text-align: left;
    margin-right: auto;


}

.bf_btn {
    margin-left: 20px;
    color: white;
    background-color: blueviolet;
    padding: 10px;
    box-shadow: 5px 5px 5px 0px black;
    
}

.donate {
    color: blueviolet;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    border: blueviolet

}

.row1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    
}



.row2,.row3, .row4,.row5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    padding: 20px;
}

.row3,.row5 {
    margin-top: 20px;
    background-color: lightgray;
    border-radius: 10px;
    
}
.row4 {

    margin-top: 20px;
    background-color: rgba(128, 128, 128, 0.253);
    border-radius: 10px;

}

.heart,.paw,.pin {
    height: 50px;
}

a {
    font-size: larger;
    color: black;
    text-decoration: none;
    padding-right: 20px;
}

nav {
    padding-left: 95px;
}

.name {
    font-size: larger;
    font-weight: bold;
    color: black;
    padding-right:20px;
}

.row3,.row4,.row5 {
    width: 60%;
    margin-left:auto;
    margin-right:auto;
}

.pepper-img {
    margin-left: auto;
    
    
    
    
}

.pettings {
    padding-left: 40px;
}

#btn1,#btn2,#btn3 {
    text-align: center;
    font-size: 16px;
}
#btn1,#btn2,#btn3 {
    margin-left: 250px;
    width: 200px;
}
#btn1 {
    margin-left: 20px;
}
.row2 {
    margin-right: auto;
}