/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
      
  /* Fixed width container class that will "auto-center" itself */
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  /*button-up  */
  div{
   
    padding: 2px;
    margin: 20px;
}
.search{
    padding: 5px 50px;
    border-radius: 50px;
    color: green;
    background-color: rgba(245, 245, 245, 0.918);
    border: 2px solid green;
    font-size: large;
    

    
    
}
.add{
    padding: 10px 15px;
    border-radius: 50px;
    color:white;
    background-color: rgba(24, 216, 152, 0.836);
    border:none;
    font-size: larger;

}
.account{
    padding: 5px 20px;
    background-color: rgb(0, 102, 255);
    font-size: large;
    color: white;
    border-style: solid black;
    box-shadow: 5px 5px 5px 0px black;
    
    

    
    
}
/*  Flexible Columns*/


.row {
    display: flex;

}

.col, .col-2, .col-3 {

    flex: 1;
    padding: 10px;
    margin: 10px;
    background-color: rgb(6, 197, 255);
}

.col-2 {

    flex:2;



}

.col-3 {

    flex: 3;

}

/* Flex Nav Bar */
body{
    width: 900px;
    margin: 0 auto;
    padding:20px;
    
    
}
.nav {
    background-color: rgba(0, 0, 0, 0.774);
    display: flex;

    
}

.nav-title {
    color: white;
    margin-left: 1em;

}
.nav-links {
    list-style: none;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    margin: 30px 30px 30px 350px;
    
    

    
}
a {
    color: rgba(230, 230, 230, 0.658);
    margin: 10px;
    text-decoration: none;
}

.btn{
    color: white;
    background-color: rgba(10, 189, 189, 0.753);
    box-shadow: 0px 5px 5px 0px black;
    
    
}
.active{
    color: white;

}




